<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>哇塞</string>
		<key>image</key>
		<string>3_1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>上错车</string>
		<key>image</key>
		<string>3_2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>看戏</string>
		<key>image</key>
		<string>3_3</string>
	</dict>
	<dict>
		<key>text</key>
		<string>什么</string>
		<key>image</key>
		<string>3_4</string>
	</dict>
	<dict>
		<key>text</key>
		<string>吃惊</string>
		<key>image</key>
		<string>3_5</string>
	</dict>
	<dict>
		<key>text</key>
		<string>许愿</string>
		<key>image</key>
		<string>3_6</string>
	</dict>
	<dict>
		<key>text</key>
		<string>欢呼</string>
		<key>image</key>
		<string>3_7</string>
	</dict>
	<dict>
		<key>text</key>
		<string>新年好</string>
		<key>image</key>
		<string>3_8</string>
	</dict>
	<dict>
		<key>text</key>
		<string>哈</string>
		<key>image</key>
		<string>3_9</string>
	</dict>
	<dict>
		<key>text</key>
		<string>心心</string>
		<key>image</key>
		<string>3_10</string>
	</dict>
	<dict>
		<key>text</key>
		<string>傻逼</string>
		<key>image</key>
		<string>3_11</string>
	</dict>
	<dict>
		<key>text</key>
		<string>勾引</string>
		<key>image</key>
		<string>3_12</string>
	</dict>
	<dict>
		<key>text</key>
		<string>不了</string>
		<key>image</key>
		<string>3_13</string>
	</dict>
	<dict>
		<key>text</key>
		<string>再说</string>
		<key>image</key>
		<string>3_14</string>
	</dict>
	<dict>
		<key>text</key>
		<string>老铁</string>
		<key>image</key>
		<string>3_15</string>
	</dict>
	<dict>
		<key>text</key>
		<string>看</string>
		<key>image</key>
		<string>3_16</string>
	</dict>
	<dict>
		<key>text</key>
		<string>我槽</string>
		<key>image</key>
		<string>3_17</string>
	</dict>
	<dict>
		<key>text</key>
		<string>激动</string>
		<key>image</key>
		<string>3_18</string>
	</dict>
	<dict>
		<key>text</key>
		<string>啊</string>
		<key>image</key>
		<string>3_19</string>
	</dict>
	<dict>
		<key>text</key>
		<string>什么</string>
		<key>image</key>
		<string>3_20</string>
	</dict>
	<dict>
		<key>text</key>
		<string>庆祝</string>
		<key>image</key>
		<string>3_21</string>
	</dict>
	<dict>
		<key>text</key>
		<string>吓</string>
		<key>image</key>
		<string>3_22</string>
	</dict>
	<dict>
		<key>text</key>
		<string>看</string>
		<key>image</key>
		<string>3_23</string>
	</dict>
	<dict>
		<key>text</key>
		<string>害羞</string>
		<key>image</key>
		<string>3_24</string>
	</dict>
	<dict>
		<key>text</key>
		<string>gp</string>
		<key>image</key>
		<string>3_25</string>
	</dict>
	<dict>
		<key>text</key>
		<string>理你</string>
		<key>image</key>
		<string>3_26</string>
	</dict>
	<dict>
		<key>text</key>
		<string>吃饭</string>
		<key>image</key>
		<string>3_27</string>
	</dict>
</array>
</plist>
