<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>[微笑]</string>
		<key>image</key>
		<string>Expression_1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[撇嘴]</string>
		<key>image</key>
		<string>Expression_2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[色]</string>
		<key>image</key>
		<string>Expression_3</string>
	</dict>
</array>
</plist>
